@import url("./styles/biography.css");
@import url("./styles/gallery.css");
@import url("./styles/projects.css");

:root {
    --color-2: snow;
    --color-2-triple: 255 250 250;

    --color-1: cornflowerblue;
    --color-1-triple: 100 149 237;

    --color-3: black;
    --color-3-triple: 0 0 0;
    --slides_dimension: calc(16vw + 14rem);
    --font-1: 'Roboto Serif';
    --font-2: 'Be Vietnam Pro';
    --font-3: 'Cabin';

    --font-size:
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-2);
    gap: 5vw;
    background-color: var(--color-2);
}

body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

a:link,
a:visited {
    color: var(--color-2);
}

.header {
    color: var(--color-2);
    height: 20vw;
    background:
        linear-gradient(rgb(var(--color-1-triple) / 85%),
            rgb(var(--color-1-triple) / 85%)),
        url("assets/traditional/large_leaf_flower.png");
    background-position: center;
    background-size: cover;
    border: 0;
    font-family: var(--font-1);
}

.name {
    height: fit-content;
    font-size: 6vw;
    font-weight: bold;
}

.sub_name {
    font-size: 2vw;
    font-family: var(--font-2);
}

button {
    border: none;
    cursor: pointer;
    padding: .2rem .4rem;
    opacity: 0.8;
    background-color: var(--color-3);
    color: var(--color-2);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

button:hover {
    opacity: 1;
}

.section_title {
    color: var(--color-1);
    font-size: 4vw;
    background-color: inherit;
    margin: 0 0 .6vw 0;
    font-family: var(--font-1);
    font-weight: bold;
}

@keyframes initialZoom {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.footer {
    background:
        linear-gradient(rgb(var(--color-1-triple) / 85%),
            rgb(var(--color-1-triple) / 85%)),
        url("assets/traditional/large_leaf_flower.png");
    background-position: bottom;
    background-size: cover;
    border: 0;
    color: var(--color-2);
    padding: .4rem .8rem;
    height: max(12vw, 10vw + 2rem);
}