.about_me {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1.2fr;
    gap: 2vw;
    font-size: calc(1.2vw + .1rem);
    align-items: stretch;
    color: var(--color-1);
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: .6vw;
}

.left_side img {
    width:auto;
    height: calc(22vw + 6rem);
    /* object-fit: cover; */
    /* flex: 1; */
}

.accomplishments {
    display: flex;
    flex-direction: column;
}

.personal_blurb {
    display: flex;
}