.about_me {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 0 2vw;
    font-size: calc(1vw + .3rem);
    align-items: stretch;
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: .6vw;
}

.left_side img {
    width: 80%;
    height: auto;
    object-fit: cover;
    flex: 1;
}

.accomplishments {
    display: flex;
    flex-direction: column;
}

.personal_blurb {
    padding: 2vw;
    display: flex;
}