#biography{
    color: var(--color-1);
    width: 95%;
    gap: 1vw;
}
.about_me {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    width: 100%;
    padding: 0 2vw;
    
}

.about_me div {
    box-sizing: content-box;
    padding: 0;
}

.accomplishments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6vw;
}

.accomplishments img {
    width: 100%;
    height: auto;
    object-fit: contain;
    animation: initialZoom 0.8s ease-in-out;
}

.personal_blurb {
    align-items: left;
    padding: 2vw;
}

.resume:link,
.resume:visited {
    color: var(--color-1);
}
