#projects {
    gap: 2vw;
    width: 90%;
}

#projects> :nth-child(2) {
    margin-top: -2vw;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 1vw;
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 2vw 2vw;
    animation: initialZoom 0.8s ease-in-out;
    width: 100%;
    border: .2rem solid var(--color-1);
    border-radius: .4rem;
}

.media_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    flex: 1.6;
}

.project iframe {
    display: block;
    justify-self: center;
    animation: initialZoom 0.8s ease-in-out;
}

.youtube_iframe {
    width: 100%;
    height: var(--slides_dimension);
}

.website_iframe {
    width: 200%;
    min-height: 180%;

    transform: scale(0.55);
    transform-origin: center center;
}

.website_container {
    display: flex;
    width: 100%;
    height: var(--slides_dimension);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project img {
    height: calc(var(--slides_dimension) * 3/4);
    animation: initialZoom 0.8s ease-in-out;
}

.project_title {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;

}

.project_text {
    flex: 1;
}

.project_description {
    top: 0;
    margin: 0;
    font-size: 1.6vw;
    font-family: var(--font-3);
    text-align: justify;

}